<h1>Here are your Tamagotchis!</h1>

<ul>
  <% @names.each() do |name| %>
    <li><%= name.name() %></li>
    <!-- <label for="chosen">Choose your Tamagatchi</label>
    <input id="chosen" name="chosen" type="text">


         name.food_level("<<<name>>>")
         name.sleep_level("<<<name>>>") -->

    <% end %>

<!--
get("/changes")

@chosen = params.fetch(chosen) -->
</ul>

<form action="/new_names" method="post">
  <label for="name">Enter the name of your Tamagotchi!</label>
  <input id="name" name="name" type="text">

  <button type="submit">Submit</button>
</form>
